body {
  width: 100%;
  margin: 0;
  background-color: #151F2C;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #E3E5E6;
  opacity: 0.9;
}

/* Global */

h2 {
  font-size: 33px;
}

span {
  font-weight: bold;
}

/* Header Styles */

header {
  background-color: #151F2C;
  border-bottom: 1px solid #E3E5E6;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

header img {
  height: 50px;
  margin-left: 10px;
  opacity: 0.9;
}

/* Nav */

header nav ul li {
  font-size: 22px;
  display: inline-block;
  padding: 0 10px 0 20px;
}

header nav ul li a {
  color: #E3E5E6;
  text-decoration: none;
}

/* Main Styles */

/* Main Wrapper */

div#main-content {
  display: flex;
  justify-content: center;
  text-align: center;

}

/* Showcase */

div#mission {
  background: url("./images/showcase-background.jpg") no-repeat;
  width: 1200px;
  height: 700px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

div#mission h2, div#mission h4 {
  background-color: #151F2C;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  flex-grow: 3;
}

/* Featured Tea Gallery */

div#featured-tea {
  width: 1000px;
  margin: 60px auto;
}

div.box {
  display: inline-block;
  margin: 10px;
}

div.box span {
  margin: 15px 0;
  display: block;
}
div.box img {
  width: 300px;
  height: 200px;
}
